body {
}
 DEMO TABLE 
/*body {
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}*/

table { border-spacing:0; /*border:0px solid gray;*/

        
 }
table.tablesorter thead tr .header {
	background-image: url(Images/bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
        line-height:27px;
    
}
/*table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 5px;
	background-color:#fff;
	vertical-align: top;
    width:inherit;
}*/
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(Images/asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(Images/desc.png);
}
table .header { /*width:150px;*/ 
           /*border:1px outset gray;*/ 
           /*background-color:#049717;*/ 
           color:black;
           cursor:pointer;
       
           /*padding:inherit;
           
           /*height:25px;*/
}
table thead th:hover { /*background-color:#046511;*/ color:black;

                       
}
table td { /*width:150px;*/ /*border:1px solid gray;*/}

table td, table th
{
    padding:5px;
}


/*table th, table td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}*/